.menu-page {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  

  
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    background-color: #f1f1f1;
  }
  .categories-container { 
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep categories in a single line */
  }
  
  .categories-scroll {
    display: flex; 
  }
  
  .category-button {
    padding: 10px 20px; /* Increased padding for better touch target */
    margin: 5px;
    background-color: #fff;
    border: none;
    border-radius: 4px; /* Slightly rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent category names from wrapping */
  }
  
  .category-button.active,
  .category-button:hover {
    background-color: #ddd;
  }
  
  
  .main-content {
    display: flex;
  }
  


  .cart-summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-summary button {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .cart-summary button:hover {
    background-color: #ff4500;
  }

  .orders-button {
    display: flex;
    align-items: center;
    background-color: #ff6347; 
    color: white;
    padding: 12px 18px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .orders-button .react-icons {
    margin-right: 8px;
    font-size: 20px; 
  }

  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusted minmax for responsiveness */
    gap: 10px;
    padding: 10px;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) { 
    .menu-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    }
  }

  
  